<!DOCTYPE html>
<html>
  <!-- partials to be checked for functionality -->
  <head>
    <title>Wigol results</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <%- include('../../partials/header.ejs')%>
      </header>
    <main>
      <h2 class="headline">Saved Song Details:</h2>
      <section id="library-details">
          <ul class="song">
            <li class="title"><h5>Song Title:</h5><p><%= storedSong.song %></p></li>
            <li class="artist"><h5>Artist Name:</h5><p><%= storedSong.artist %></p></li>
            <li class="lyrics"><h5>Song Lyrics:</h5><p><%= storedSong.lyrics %></p></li>
          </ul>
      </section>
    </main>
    <div class="push"></div>
    </div>
    <footer>
      <%- include('../../partials/footer.ejs')%>
    </footer>
  </body>

</html>