<!DOCTYPE html>
<html>
  <!-- partials to be checked for functionality -->
  <head>
    <title>Wigol results</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <%- include('../../partials/header.ejs')%>
      </header>
    <main>
      <h2>Saved Song Details:</h2>
      <section id="library-details">
          <ul class="song">
            <li class="title">Song Title: <%= storedSong.song %></li>
            <li class="artist">Artist Name: <%= storedSong.artist %></li>
            <li class="lyrics"> <%= storedSong.lyrics %></li>
          </ul>
      </section>
    </main>
    <div class="push"></div>
    </div>
    <footer>
      <%- include('../../partials/footer.ejs')%>
    </footer>
  </body>

</html>