<!DOCTYPE html>
<html>
  <head>
    <title>Wigol Library</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <div class="top-push"></div>
  <body>
    <div class="wrapper">
    <header>
      <%- include('../../partials/header.ejs')%>
    </header>
    <main>
      <h2 class="headline">Your Saved Songs</h2>
        <% arrayofresults.forEach(storedSong =>{ %>
        <div id="content-wrap"> 
          <ul class="song-list">
            <li class="title"><h5>Song Title:</h5> <p><%= storedSong.song %></p></li>
            <li class="artist"><h5>Artist Name:</h5><p><%= storedSong.artist %></p></li>
          </ul>
            <div id="button-wrap">
              <form class="delete-btn" action="<%= `/delete/${storedSong.id}?_method=DELETE` %>" method="post">
                <input type="hidden" name="id" value="<%= storedSong.id %>">
                <button id="wigol-btn" type="submit"><h4>Delete Song</h4></button>
              </form>
              <img class="worm-in-library" src="images/logo1.png" alt="wormy">
              <form class="detail-btn" action="<%= `/details/${storedSong.id}` %>" method="get">
                <input type="hidden" name="lyrics" value="<%= storedSong.lyrics %>">
                <button id="wigol-btn" type="submit"><h4>Details</h4></button>
              </form>
          </div>
        </div>   
        <% }) %>
      </section>
    </main>
    <div class="push"></div>
    </div>
  <footer>
    <%- include('../../partials/footer.ejs')%>
  </footer>
</body>
</html>