<!DOCTYPE html>
<html>
  <!-- partials to be checked for functionality -->
  <head>
    <title>Wigol results</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>
    <header>
      <%- include('../../partials/header.ejs')%>
    </header>
    <main>    
      <h2>Here Are Your Search Results:</h2>
      <section id="lyric-results">
        <%= info.forEach(song =>{ %>
          <!-- partial built for following section wanted to test ejs befor converting -->
          <ul class="song">
            <li class="title">Song Title: <%= song.title %></li>
            <li class="artist">Artist Name: <%= song.artist %></li>
          </ul>
        })
      </section>
    </main>
    <footer>
      <%- include('../../partials/footer.ejs')%>
    </footer>
  </body>
</html>