<!DOCTYPE html>
<html>
  <!-- partials to be checked for functionality -->
  <head>
    <title>Wigol results</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>
    <div id="wrapper">
    <header>
      <%- include('../../partials/header.ejs')%>
    </header>
    <main>    
      <h2>Here Are Your Search Results:</h2>
      <ul class="song">
        <li class="title">Song Title: <%= info.title %></li>
        <li class="artist">Artist Name: <%= info.artist %></li>
        <li class="lyrics"><%= info.lyrics %></li>
      </ul>
      <form id="lyric-results" action="/songs" method="post">
          <!-- partial built for following section wanted to test ejs befor converting -->
        <input type="hidden" name="title" value="<%= info.title %>">
        <input type="hidden" name="artist" value="<%= info.artist %>">
        <input type="hidden" name="lyrics" value="<%= info.lyrics %>">
        <button id="wigol-btn" type="submit"><h4>Add To Favorites</h4></button>
        </form>
    </main>
    <div class="push"></div>
    </div>
    <footer>
      <%- include('../../partials/footer.ejs')%>
    </footer>
  </body>
</html>